@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Usmani';
    src: url('/fonts/UthmanicHafs1Ver09.otf') format('truetype');
}

.arabic {
    font-family: 'Usmani';
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: right;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.text-rtl {
    direction: rtl; /* Mengubah arah penulisan teks menjadi dari kanan ke kiri (RTL) */
    unicode-bidi: embed; /* Memastikan teks yang diberikan diterjemahkan sesuai arah RTL */
}
